<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jhc.restaurant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="cn.jhc.restaurant.RestaurantFinderApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.jhc.restaurant.ReviewCriteria"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jhc.restaurant.ReviewList"
            android:label="@string/title_activity_review_list" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="cn.jhc.restaurant.VIEW_LIST"/>
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jhc.restaurant.ReviewDetail"
            android:label="@string/title_activity_review_detail" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="cn.jhc.restaurant.VIEW_DETAIL"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
